.Container {
    min-width: 320px;
    max-width: 780px;
    padding: 0 30px;
    box-sizing: border-box;
}
header {
    width: 100%;
}
.Dados{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}
.contato{
    margin: 0 10px;
}
.nome {
    margin:0 10px;
}
.Dados-bio {
    text-align: left;
}
.list {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    border-top: 2px solid black;
    margin-top: 15px;
    box-sizing: border-box;
    overflow: scroll;
}
.logout {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}
.logout button {
    width: 100%;
    margin-top: 5px;
}

@media (min-width:780px) {
    .list {
        overflow: visible;
    }
}