.Container {
    min-width: 320px;
    max-width: 780px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
header {
    width: 100%;
    color: #007AFF;
}
.Dados{
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}
.Dados span, .Dados-bio span {
    color: #00013C;
}
.contato{
    margin: 0 10px;
}
.nome {
    margin:0 10px;
}
.Dados-bio {
    text-align: left;
    margin-left: 10px;
}
.list {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    overflow: scroll;
}
.logout {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 10px 3px;
}
.logout button {
    width: 50%;
    margin-top: 20px;
}

@media (min-width:780px) {
    .list {
        overflow: visible;
    }
}