.App {
  max-width: 900px;
  min-width: 320px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin: 20px auto;
}

.tituloPrincipal {
  text-align: center;
  background-color: #00013C;
  color: white;
  min-height: 60px;
  line-height: 60px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #00013C;
}